In [2]:
library(repr)
library(tidyverse)
library(tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

In [6]:
marketing_data <- read_tsv("/home/jovyan/toy_ds_project/marketing_campaign.csv")
marketing_data

Rows: 2240 Columns: 29
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr  (3): Education, Marital_Status, Dt_Customer
dbl (26): ID, Year_Birth, Income, Kidhome, Teenhome, Recency, MntWines, MntF...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     ID    Year_Birth Education  Marital_Status Income Kidhome Teenhome
1    5524  1957       Graduation Single         58138  0       0
2    2174  1954       Graduation Single         46344  1       1
3    4141  1965       Graduation Together       71613  0       0
4    6182  1984       Graduation Together       26646  1       0
5    5324  1981       PhD        Married        58293  1       0
6    7446  1967       Master     Together       62513  0       1
7     965  1971       Graduation Divorced       55635  0       1
8    6177  1985       PhD        Married        33454  1       0
9    4855  1974       PhD        Together       30351  1       0
10   5899  1950       PhD        Together        5648  1       1
11   1994  1983       Graduation Married           NA  1       0
12    387  1976       Basic      Married         7500  0       0
13   2125  1959       Graduation Divorced       63033  0       0
14   8180  1952       Master     Divorced       59354  1       1
15   2569  1987       Graduation Married        17323  0       0
16   2114  1946       PhD        Single         82800  0       0
17   9736  1980       Graduation Married        41850  1       1
18   4939  1946       Graduation Together       37760  0       0
19   6565  1949       Master     Married        76995  0       1
20   2278  1985       2n Cycle   Single         33812  1       0
21   9360  1982       Graduation Married        37040  0       0
22   5376  1979       Graduation Married         2447  1       0
23   1993  1949       PhD        Married        58607  0       1
24   4047  1954       PhD        Married        65324  0       1
25   1409  1951       Graduation Together       40689  0       1
26   7892  1969       Graduation Single         18589  0       0
27   2404  1976       Graduation Married        53359  1       1
28   5255  1986       Graduation Single            NA  1       0
29   9422  1989       Graduation Married        38360  1       0
30   1966  1965       PhD        Married        84618  0       0
⋮    ⋮     ⋮          ⋮          ⋮              ⋮      ⋮       ⋮
2211   607 1955       2n Cycle   Divorced        41769 0       1
2212 10469 1981       Graduation Together        88325 0       0
2213  6983 1950       Master     Divorced        38054 1       1
2214  3661 1995       2n Cycle   Single          80617 0       0
2215  9303 1976       Graduation Married          5305 0       1
2216   692 1954       Graduation Together        36807 1       1
2217   736 1983       Graduation Together        28427 1       0
2218  9589 1948       PhD        Widow           82032 0       0
2219  4838 1978       Graduation Together        22775 1       0
2220  9246 1985       Master     Together        40101 1       0
2221  6261 1979       Graduation Married         58025 0       1
2222  7366 1982       Master     Single          75777 0       0
2223 10659 1979       2n Cycle   Together         7500 1       0
2224  1448 1963       Master     Married         33562 1       2
2225  4286 1970       PhD        Single          57642 0       1
2226  4749 1968       Graduation Together        58554 1       1
2227  4478 1979       Graduation Married         63777 1       1
2228  4201 1962       Graduation Single          57967 0       1
2229  8720 1978       2n Cycle   Together           NA 0       0
2230 10084 1972       Graduation Married         24434 2       0
2231  7004 1984       Graduation Single          11012 1       0
2232  9817 1970       Master     Single          44802 0       0
2233  8080 1986       Graduation Single          26816 0       0
2234  9432 1977       Graduation Together       666666 1       0
2235  8372 1974       Graduation Married         34421 1       0
2236 10870 1967       Graduation Married         61223 0       1
2237  4001 1946       PhD        Together        64014 2       1
2238  7270 1981       Graduation Divorced        56981 0       0
2239  8235 1956       Master     Together        69245 0       1
2240  9405 1954       PhD        Married         52869 1       1
     Dt_Customer Recency MntWines ⋯ NumWebVisitsMonth AcceptedCmp3 AcceptedCmp4
1    04-09-2012  58       635     ⋯  7                0            0
2    08-03-2014  38        11     ⋯  5                0            0
3    21-08-2013  26       426     ⋯  4                0            0
4    10-02-2014  26        11     ⋯  6                0            0
5    19-01-2014  94       173     ⋯  5                0            0
6    09-09-2013  16       520     ⋯  6                0            0
7    13-11-2012  34       235     ⋯  6                0            0
8    08-05-2013  32        76     ⋯  8                0            0
9    06-06-2013  19        14     ⋯  9                0            0
10   13-03-2014  68        28     ⋯ 20                1            0
11   15-11-2013  11         5     ⋯  7                0            0
12   13-11-2012  59         6     ⋯  8                0            0
13   15-11-2013  82       194     ⋯  2                0            0
14   15-11-2013  53       233     ⋯  6                0            0
15   10-10-2012  38         3     ⋯  8                0            0
16   24-11-2012  23      1006     ⋯  3                0            0
17   24-12-2012  51        53     ⋯  8                0            0
18   31-08-2012  20        84     ⋯  7                0            0
19   28-03-2013  91      1012     ⋯  5                0            0
20   03-11-2012  86         4     ⋯  6                0            0
21   08-08-2012  41        86     ⋯  8                0            0
22   06-01-2013  42         1     ⋯  1                0            0
23   23-12-2012  63       867     ⋯  8                0            1
24   11-01-2014   0       384     ⋯  4                0            0
25   18-03-2013  69       270     ⋯  8                0            0
26   02-01-2013  89         6     ⋯  7                0            0
27   27-05-2013   4       173     ⋯  7                0            0
28   20-02-2013  19         5     ⋯  1                0            0
29   31-05-2013  26        36     ⋯  3                0            0
30   22-11-2013  96       684     ⋯  2                0            0
⋮    ⋮           ⋮       ⋮        ⋱ ⋮                 ⋮            ⋮
2211 13-02-2013  31      302      ⋯  8                0            0
2212 05-02-2014  42      519      ⋯  2                0            0
2213 01-05-2014  24       23      ⋯  7                0            0
2214 12-10-2012  42      594      ⋯  2                0            0
2215 30-07-2013  12       12      ⋯ 13                0            0
2216 20-12-2012  88        4      ⋯  6                0            0
2217 21-03-2013  67       18      ⋯  8                0            0
2218 05-04-2014  54      332      ⋯  1                0            0
2219 19-06-2013  40        5      ⋯  8                0            0
2220 14-10-2012  73      171      ⋯  7                0            0
2221 26-11-2013  81      270      ⋯  4                0            0
2222 04-07-2013  12      712      ⋯  1                0            1
2223 07-05-2013   7        2      ⋯  7                0            0
2224 25-06-2014  33       21      ⋯  4                0            0
2225 09-01-2014  24      580      ⋯  4                1            0
2226 26-09-2012  55      368      ⋯  7                0            0
2227 24-03-2013  87      457      ⋯  8                0            0
2228 03-03-2013  39      229      ⋯  5                0            0
2229 12-08-2012  53       32      ⋯  0                0            1
2230 18-05-2014   9        3      ⋯  7                0            0
2231 16-03-2013  82       24      ⋯  9                1            0
2232 21-08-2012  71      853      ⋯  8                0            0
2233 17-08-2012  50        5      ⋯  4                0            0
2234 02-06-2013  23        9      ⋯  6                0            0
2235 01-07-2013  81        3      ⋯  7                0            0
2236 13-06-2013  46      709      ⋯  5                0            0
2237 10-06-2014  56      406      ⋯  7                0            0
2238 25-01-2014  91      908      ⋯  6                0            1
2239 24-01-2014   8      428      ⋯  3                0            0
2240 15-10-2012  40       84      ⋯  7                0            0
     AcceptedCmp5 AcceptedCmp1 AcceptedCmp2 Complain Z_CostContact Z_Revenue
1    0            0            0            0        3             11
2    0            0            0            0        3             11
3    0            0            0            0        3             11
4    0            0            0            0        3             11
5    0            0            0            0        3             11
6    0            0            0            0        3             11
7    0            0            0            0        3             11
8    0            0            0            0        3             11
9    0            0            0            0        3             11
10   0            0            0            0        3             11
11   0            0            0            0        3             11
12   0            0            0            0        3             11
13   0            0            0            0        3             11
14   0            0            0            0        3             11
15   0            0            0            0        3             11
16   1            1            0            0        3             11
17   0            0            0            0        3             11
18   0            0            0            0        3             11
19   0            1            0            0        3             11
20   0            0            0            0        3             11
21   0            0            0            0        3             11
22   0            0            0            0        3             11
23   0            0            0            0        3             11
24   0            0            0            0        3             11
25   0            0            0            0        3             11
26   0            0            0            0        3             11
27   0            0            0            0        3             11
28   0            0            0            0        3             11
29   0            0            0            0        3             11
30   1            0            0            0        3             11
⋮    ⋮            ⋮            ⋮            ⋮        ⋮             ⋮
2211 0            0            0            0        3             11
2212 0            0            0            0        3             11
2213 0            0            0            0        3             11
2214 0            0            0            0        3             11
2215 0            0            0            0        3             11
2216 0            0            0            0        3             11
2217 0            0            0            0        3             11
2218 0            0            0            0        3             11
2219 0            0            0            0        3             11
2220 0            0            0            0        3             11
2221 0            0            0            0        3             11
2222 1            0            0            0        3             11
2223 0            0            0            0        3             11
2224 0            0            0            0        3             11
2225 0            0            0            0        3             11
2226 0            0            0            0        3             11
2227 0            0            0            0        3             11
2228 0            0            0            0        3             11
2229 0            0            0            0        3             11
2230 0            0            0            0        3             11
2231 0            0            0            0        3             11
2232 0            0            0            0        3             11
2233 0            0            0            0        3             11
2234 0            0            0            0        3             11
2235 0            0            0            0        3             11
2236 0            0            0            0        3             11
2237 0            1            0            0        3             11
2238 0            0            0            0        3             11
2239 0            0            0            0        3             11
2240 0            0            0            0        3             11
     Response
1    1
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    1
10   0
11   0
12   0
13   0
14   0
15   0
16   1
17   0
18   0
19   0
20   0
21   0
22   0
23   0
24   0
25   0
26   0
27   0
28   0
29   0
30   0
⋮    ⋮
2211 0
2212 0
2213 0
2214 0
2215 0
2216 0
2217 0
2218 0
2219 0
2220 0
2221 0
2222 1
2223 0
2224 0
2225 0
2226 0
2227 0
2228 0
2229 0
2230 0
2231 0
2232 0
2233 0
2234 0
2235 0
2236 0
2237 0
2238 0
2239 0
2240 1